@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>

<h3>Hi @ViewData["Username"]</h3>

<p>This is a secured dashboard</p>

<p>These are the apps that you can access</p>

@{
    if(ViewData["Apps"] != null){
        @foreach (var item in ViewData["Apps"] as IEnumerable<UserApp>)
        {
            <div class="app-tile">
                <a href="https://sharkbytes.onelogin.com/launch/@item.Id">
                    <img src="@item.Icon"/> @item.Name
                </a>
            </div>
        }
    }
}