@{
    ViewData["Title"] = "OpenId Connect Demo";
}

<h1>OneLogin Authentication Methods</h1>
<p>
    This is a demo site that makes use of OneLogins OpenId Connect provider to enable user authentication.
</p>
<p>
    It also demonstrates the use of the OneLogin Admin API to get a list of apps available to a user and
    provide sign in links for customers that want to create their own login portal
</p>

<h3>Login using OpenId Connect Authorization Flow</h3>
<p>
    This is the default authentication method in this sample app. It will redirect the user to your
    OneLogin customized login page for authentication and then return them to a secured dashboard page.
</p>
<p><a href="/home/dashboard">Login with Redirect</a></p>

<h3>Login with a Username &amp; Password</h3>
<p>
    This should only be used for trusted apps as it lets you capture username/password and
    authenticate against OneLogin without redirecting the browser.
</p>
<p><a href="/account/login">Login without Redirect</a></p>

